# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Local app data
data/*.sqlite3
data/*.db

# IDE and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Streamlit local secrets
.streamlit/secrets.toml
